<div class="row">
  <div class="col-sm-6 ">
    <div class="well clearfix">

      <p><%= link_to "RailsReactLive", "https://github.com/lilfaf/RailsReactLive" %>  is a simple web-based Twitter client. It consumes the authenticated user timeline and notifies for new statuses in real-time over websockets.</p>
      <p>The main goal of this application was to demonstrate my skills as a web developer and software engineer for potential recruiters. But in the meantime it turned out to be an experiment with the <%= link_to "Action Cable framework", "https://github.com/rails/actioncable" %> due in the upcoming Rails 5 release.</p>
      <p>Find out more about this application browsing the <%= link_to "source code", "https://github.com/lilfaf/RailsReactLive" %> available on Github</p>

      <hr>
      <p class="pull-left">Made with <i class="fa fa-heart text-danger"></i> by <%= gravatar_image class: "img-circle gravatar", size: "34" %></p>
      <div class="social-links pull-right">
        <%= link_to "https://github.com/lilfaf", target: "_blank" do %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>
        <%= link_to "https://twitter.com/semtazone", target: "_blank" do %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>
        <%= link_to "https://www.linkedin.com/profile/view?id=AAIAAAWM3HUBeriJSmVOEqespLDLVlRCKD9yBWQ", target: "_blank" do %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <%- if current_user %>
      <%= react_component("TweetsContainer", tweetsPath: tweets_path) %>
    <% else %>
      <div class="alert alert-warning">
        <strong>IT'S DEMO TIME!</strong><br>
        Please sign in with your twitter account to access a live stream of your timeline.
      </div>

      <%= link_to 'auth/twitter', class: 'btn btn-twitter' do %>
        <%= fa_icon 'twitter' %>
        Sign in with twitter
      <% end %>
    <% end %>
  </div>
</div>
